.default-navbar {
  background-color: white;
  &__brand-name {
    margin-left: 1rem;
  }

  &__btn {
    align-items: center;
  }

  &__btn-logo {
    background-color: #f5f5f5;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      color: black;
    }
  }

  &__btn-label {
    margin-left: 4px;
    cursor: pointer;
    align-self: center;
  }
  &__help-logo{
    background-color: #55CCC1;
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
      color: white;
    }
  }
  &__help{
    color:rgba(0,0,0,.55);
  }
  &__invite-btn{
    background-color: #55CCC1;
    color: white;
    border: none;
    border-radius: 18px;
  }
}
